@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#f4f6f5] text-slate-800 antialiased font-sans selection:bg-emerald-600 selection:text-white;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #edf1ef;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #15803d;
}
